.about-container{
	margin-top: 80px;
	margin-bottom: 100px;
}

.about-company{
	margin-bottom: 40px;
}


.about-history{
	margin-top: 40px;
}

.about-row-border{
	border-top: 1px solid #e7e7e7;
	margin-bottom: 10px;
}
